@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@200;300;400;500&display=swap');

body {
  margin: 0;
  font-family: 'Newsreader', serif;
}

body * {
  font-family: 'Newsreader', serif;
  font-size: 18px;
  color: #000000AA;
}

input {
  padding: 4px 8px;
  border: none;
  outline: none;
}

textarea {
  border: 1px solid #00000011;
  outline: none;
}

button {
  background: none;
  border: 1px solid lightgrey;
  background-color: #00000011;
  padding: 5px;
  transition: background-color 0.2s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: lightgrey;
}